.App {
  text-align: center;
}

.App-logo {
  height: 100%;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: red;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 10rem;
/*   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.main-grid {
  margin: 20px;
}

.main-grid .MuiPaper-root {
  height: 100%;
}

.MuiTypography-root.grid-item__title {
  margin-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* light-blue: #a4d0eb;
green: #57b895;
dark-blue: ##001f42; 
background very light blue: #f0f9fe*/

.kpiBox {
  font-variant: all-petite-caps;
  flex-wrap: wrap-reverse;
}

.kpiBox:last-child {
  margin-bottom: 0;
}

.kpiBox--green {
  background-color: #92D2BA;
  color: #285F4B;
}

.kpiBox--lightBlue {
  background-color: #a4d0eb;
  color: #1F628C;
}

.kpiBox--yellow {
  background-color: #EBE2A2;
  color: #745B1A;
}